<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='CSSs/pastaStyle.css')}}">
        <title>Cucine D'italia</title>
        <h1 class="centerText">Spaghetti</h1>
    </head>

    <body>
        <div class="ricettaText">
        <p1>Per preparare gli spaghetti alla carbonara cominciate mettendo sul fuoco una pentola con l’acqua<br>
            salata per cuocere la pasta. Nel frattempo eliminate la cotenna dal guanciale e tagliatelo prima<br>
            a fette 1 e poi a striscioline spesse circa 1cm 2 3. La cotenna avanzata potrà essere riutilizzata<br>
            per insaporire altre preparazioni. </p1>
            </div>
        </div>

        <div class="imgAlignCenter">
            <img src="{{url_for('static', filename='images/passaggio1.avif')}}"/>
        </div>

        <div class="ricettaText">
            <p1>Scolate la pasta al dente direttamente nel tegame con il fondo di cottura 13.<br>
                 Saltatela brevemente per insaporirla 14. Togliete dal fuoco e versate il composto<br>
                  di uova e Pecorino nel tegame. Mescolate velocemente per amalgamare 15.</p1>
                </div>
        </div>

        <div class="imgAlignCenter">
            <img src="{{url_for('static', filename='images/passaggio2.avif')}}"/>
        </div>
    </body>
</html>