<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='CSSs/pastaStyle.css')}}">
        <title>Cucine D'italia</title>
        <h1 class="centerText">Pizza</h1>
    </head>

    <body>
        <div class="ricettaText">
        <p1>Per preparare la pasta per la pizza abbiamo scelto di impastare il tutto a mano,<br>
            ma se preferite utilizzare l’impastatrice potrete seguire gli stessi procedimenti,<br>
             utilizzando il gancio a velocità medio bassa. Come prima cosa versate le due farine<br>
              in una ciotola 1, sbriciolate il lievito all'interno 2 e versate l'acqua poco per volta 3. <br>
              La temperatura ideale dell'acqua è di 25°.</p1>
            </div>
        </div>

        <div class="imgAlignCenter">
            <img src="{{url_for('static', filename='images/p1.avif')}}"/>
        </div>

        <div class="ricettaText">
            <p1>Mescolate man mano con un mestolo di legno 4 e quando avrete aggiunto<br>
                 quasi tutta l'acqua aggiungete anche il sale 5. Continuate ad aggiungere l'acqua<br>
                  iniziando ad impastare con le mani, per amalgamare gli ingredienti 6.</p1>
                </div>
        </div>

        <div class="imgAlignCenter">
            <img src="{{url_for('static', filename='images/p2.avif')}}"/>
        </div>
    </body>
</html>